
@-ms-viewport       { width: device-width; }
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html,body {
   
}

#map{
	height: 700px;
}

#searchInput{
	padding: 10px 0px 10px 0px;
}
#resultList{
	padding: 10px 0px 10px 0px;
}