
@-ms-viewport       { width: device-width; }
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

#map {
	height: 900px;
}

#top-menu-search {
	padding: 0px 0px 20px 0px;
}

#searchInput {
	display: inline-block;
	width: 320px;
}

.hamburguer-icon {
	background: url(../images/hamburguer-icon.svg) transparent no-repeat;
	display: inline-block;
    cursor: pointer;
    background-position: 50%;
    position: relative;
    height: 35px;
    width: 32px;
    margin-right: 10px;
    margin-bottom: 3px;
}


